/* TAG SELECTORS */

body{
    background-color: white;
    padding: 20px;
}
hr{

}
h3{
    margin-bottom: 0px;
}

/* CLASS SELECTORS */
.intro-line{
    text-align: center;
}

.projects{
    text-decoration: none;
}

.items{
    padding-left: 20px;
    padding-right: 20px;
    background-color: bisque;
}

.category{
    padding-right: 20px;
    font-weight: bold;
}
/* ID SELECTORS */