:root {
    --company-logo-size: 100px;
}


.PresentDate {
    color: #00CA00;
}

.CompanyDetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.ExperienceSection {
    background-color: #20262F;
    padding: 100px;
    margin: 0px;
}

.Experience {
    margin: 0px;
    display: flex;
    gap: 20px;
}

.Titles{
    display: flex;
    flex-direction: column;
}

.CompanyName {
    font-size: 1.5rem;
    font-weight: bold;
}


.Position {
    font-family: "Source Code Pro";
    font-size: 1.2rem;
    font-weight: bold;
}

.TechItem {
    font-size: small;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    background-color: #ffffff1a;
    border-radius: 4px;
}



.Technology {
    display: flex;
    gap: 10px;
    font-family: "Source Code Pro";
}

.CompanyLogo {
    height: var(--company-logo-size);
    width: var(--company-logo-size);
    object-fit: contain;
    margin: 0px;
    padding: 0px;
    background-color: white;
    border-radius: 10px;
}


.CompanyLogoWrapper {
    display: inline-flex;
    margin: 0px;
    padding: 12px;
    background-color: #ffffff0c;
    border-radius: 14px;
}

.ExperiencesList {
    display: flex; /* Enables flex layout */
    flex-direction: column; /* Ensures projects stack vertically */
    gap: 40px;
}

.DateSeparator {
    margin: 0px 10px 0px 10px;
}

.DateContainer {
    display: flex;
}


/* Work Related */

.WorkDetails {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.WorkDetailsList {
    padding-left: 15px;
    list-style-type: disc;
    margin: 0;
}

.WorkDetailsItem {
    margin-bottom: 0px;
}