.CertificationsPage{
    background-color: #1D222A;
    padding: 100px;
}

.CertificateTitle{
    text-decoration: none;
    font-family: "Source Code Pro";
    color: white;
    /* font-weight: bold; */
    border-bottom: 0.5px solid white;
}

.CertificateMainContent{
    gap: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.Certificate{
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.CertificateSource{
    /* font-style: italic; */
    font-weight: bold;
}

.CompletionData{
    display: flex;
    gap: 20px;
}

.CompletionDate{
    font-weight: bold;
}