.CertificationsPage {
    background-color: var(--color-certifications);
}

.CertificationsList {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.Certificate {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: var(--space-sm) 0;
    font-size: 1.25rem;
    color: var(--color-text);
}

.CertificateMainContent {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.CertificateSource {
    display: flex;
    gap: var(--space-sm);
}

.CertificateSource__name {
    font-weight: bold;
}

.CompletionDate {
    margin: 0;
}

@media (min-width: 1024px) {
    .Certificate {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .CertificateMainContent {
        flex-direction: row;
        align-items: center;
    }
}