.HomePage {
    background-color: #31363F;
    background-image: url('../assets/texture-background.png');
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.HomePageContainer {
    margin: 40px;
}

.Intro {
    font-size: 5rem;
    color: #ffffff99;
    font-weight: 600;
    letter-spacing: -.1rem;
}

.Name {
    font-size: 5rem;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -.1rem;
}

.NameLine {
    font-family: "Source Code Pro";
    font-size: 1.2rem;
    color: white;
    height: 20px;
}

.Description {
    /* background-color: #0a66c2; */
    margin: 40px 0px 40px 0px;
    font-family: "Source Code Pro";
    line-height: 2;
}

.IntroButton {
    font-family: "Source Code Pro";
    background-color: #00000000;
    color: white;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    margin-inline-end: 20px;
    font-size: 1.25rem;
    cursor: pointer;
}

.IntroButton:hover {
    font-family: "Source Code Pro";
    background-color: #ffffff11;
    color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    font-size: 1.25rem;
    margin-inline-end: 20px;
    cursor: pointer;
}

.ResumeButton {
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
}

.ContactMeButton {
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
}

.LinkedInButton {
    background-color: #0a66c2;
}

.LinkedInButton:hover {
    background-color: #0e75dd;
}