.ProjectsPage{
    background-color: #1F242C;
    padding: 100px 100px 100px 100px;
    margin: 0px;
}

.GitHubLink{
    display: inline-flex;
    font-family: "Source Code Pro";
    color: white;
    align-items: center;
    text-decoration: none;
    border-bottom: 0.5px solid white;
    padding-bottom: 2px;
}

.GitHubLink:hover{
    font-style: italic;
    display: inline-flex;
    font-family: "Source Code Pro";
    color: white;
    align-items: center;
    text-decoration: none;
    border-bottom: 0.5px solid white;
    padding-bottom: 2px;
}

.Project{
    display: flex;
    text-decoration: none;
    color: white;
    border: solid 0.25px #ffffff1a;
    border-radius: 10px;
    background-color: #ffffff05;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
    margin: 0px;
}

.Project:hover{
    border: solid 0.25px #ffffff2f;
    border-radius: 10px;
    background-color: #ffffff08;
    padding: 20px;
    margin: 0px;
    gap: 20px;
}

.VisibilityAndLinks{
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.ProjectTitle{
    margin: 0px;
    font-family: "Source Code Pro";
    font-size: 1.5rem;
    font-weight: bold;
}

.ProjectImage{
    border-radius: 10px;
    height: auto;
    width: 60%;
}

.ProjectsList{
    display: flex; /* Enables flex layout */
    flex-direction: column; /* Ensures projects stack vertically */
    gap: 20px;
}

.RepoVisibility{
    font-family: "Source Code Pro";
    background-color: #ffffff1a;
    gap: 5px;
    border-radius: 10px;
    font-size: small;
    align-items: center;
    margin: 0px;
    padding: 2px 8px 2px 8px;
    display: inline-flex;
    max-width: fit-content;
}
.VisibilityIcon{
    margin: 0px;
    padding: 0px;
    height: 10px;
}

.VisibilityText{
    margin: 0px;
    padding: 0px;
}

.ProjectDescription{
    margin: 0px;
    line-height: 1.25;
    padding: 0px;
}

.ProjectTextDetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TitleSection{
    gap: 60px;
    display: flex;
}